<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <title>{{profile.alais}}</title>
</head>

<body>
  <div class="container col-6">
    <div class="card text-white bg-primary mb-3 mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">{{profile.alais}}'s Profile</h5>
        <p class="card-text">Name: {{profile.name}}</p>
        <p class="card-text">Email Address: {{profile.email}}</p>
        <a href="/friends" class="text-dark">Home</a>
        <a href="/logout" class="text-dark">Logout</a>
      </div>
    </div>
  </div>

</body>

</html>